*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

body {
    font-family: 'Be Vietnam Pro';
}

.container {
    max-width: 1960px;
    margin: 0 auto;

}